<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <servers>
    <server>
      <id>gcp-nexus-release</id>
      <username>devops_nexus_deploy</username>
      <password>devops_nexus_deploy</password>
    </server>
  </servers>
  
</settings>